<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter - Home</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link rel="stylesheet" href="../../css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>

  <% if((loginSuc && loginSucMsg) || (addTweetSuc && addTweetSucMsg)){ %>
    <div class="toast-container" id="toast-container">
      <div class="toast toast-style-4 toast-animation-4-in">
        <div class="toast-icon">
          <%= loginSucIcon || addTweetIcon %>
        </div>
        <div class="toast-content">
          <div class="toast-title">
            <%= loginSuc || addTweetSuc %>
          </div>
          <div class="toast-message">
            <%= loginSucMsg || addTweetSucMsg %>
          </div>
        </div>
        <button class="toast-close">&times;</button>
        <div class="toast-progress toast-progress-animate"></div>
      </div>
    </div>
    <% } %>

      <div class="main-container">
        <!-- sidebar starts -->
        <div class="sidebar">
          <div class="flex justify-between w-100">
            <div class="twitter-icon cursor-pointer">
              <i class="fab fa-twitter"></i>
            </div>
            <div class="toggle cursor-pointer">
              <i class="fas fa-bars"></i>
            </div>
          </div>

          <div class="sidebarOption active">
            <span class="material-icons"> home </span>
            <h2 class="sidebar-title">Home</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> search </span>
            <h2 class="sidebar-title">Explore</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> notifications_none </span>
            <h2 class="sidebar-title">Notifications</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> mail_outline </span>
            <h2 class="sidebar-title">Messages</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> bookmark_border </span>
            <h2 class="sidebar-title">Bookmarks</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> list_alt </span>
            <h2 class="sidebar-title">Lists</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> perm_identity </span>
            <h2 class="sidebar-title">Profile</h2>
          </div>

          <div class="sidebarOption">
            <span class="material-icons"> more_horiz </span>
            <h2 class="sidebar-title">More</h2>
          </div>
          <button class="sidebar__tweet">Tweet</button>
        </div>
        <!-- sidebar ends -->

        <!-- feed starts -->
        <div class="feed">
          <div class="feed__header">
            <h2>Home</h2>
          </div>

          <!-- tweetbox starts -->
          <div class="tweetBox">
            <form action="/twitter-clone/home/add" enctype="multipart/form-data" method="post">
              <div class="tweetbox__input align-items-start">
                <img src="../../images/default-user.jpg" alt="Default User" />
                <textarea type="text" rows="6" placeholder="What's happening?" name="desc" required></textarea>

                <div class="d-flex flex-column align-items-center gap-3">
                  <div class="file-input">
                    <input type="file" name="tweetImg" id="file-input" class="file-input__input" />
                    <label class="file-input__label" for="file-input">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                        class="svg-inline--fa fa-upload fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                        </path>
                      </svg>
                      <span>Upload Media</span>
                    </label>
                  </div>

                  <img src="../../images/default.jpg" alt="Tweet Image" width="100"
                    style="border-radius: 0 !important; height: 80px !important" id="preview-image" />
                </div>
              </div>
              <input type="submit" class="tweetBox__tweetButton"></input>
            </form>
          </div>
          <!-- tweetbox ends -->

          <!-- post starts -->
          <% tweets.forEach((tweet)=> { %>
            <div class="post" data-id="<%= tweet._id %>">
              <div class="post__avatar">
                <img src="<%= tweet.user.avatar ? tweet.user.avatar : '../../images/default-user.jpg' %>"
                  alt="Profile Image" />
              </div>

              <div class="post__body">
                <div class="post__header">
                  <div class="post__headerText" style="display: flex; justify-content: space-between;">
                    <h3>
                      <%= tweet.user.username %>
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@<%=
                            tweet.user.username %></span>
                    </h3>
                    <time class="time-ago" datetime="<%= tweet.createdAt ? tweet.createdAt.toISOString() : new Date().toISOString()  %>"></time>
                  </div>
                  <div class="post__headerDescription"
                    style="display: flex; justify-content: space-between;margin-top: 10px;">
                    <p>
                      <%= tweet.desc %>
                    </p>
                    <a href="/twitter-clone/home/delete/<%= tweet._id %>/" class="deletePostBtn me-3">
                      <i class="fa-solid fa-trash-can"></i>
                    </a>
                  </div>
                </div>
                <img src="../../<%= tweet.tweetImg ? tweet.tweetImg : '../../images/default.jpg' %>" alt="Tweet Image"
                  id="tweetImage" />
                <div class="post__footer">
                  <div class="postButtonContainer">
                    <button>
                      <i class="fa-regular fa-message"></i>
                      <span class="mb-0 ms-2" style="font-size: 18px"><%= tweet.comments.length %></span>
                    </button>
                  </div>
                  <div class="postButtonContainer">
                    <button class="likeButton">
                      <% const isLiked=likedTweetIds.includes(tweet._id.toString()); %>
                        <i class="fa-heart heartIcon <%= isLiked ? 'fa-solid liked' : 'fa-regular' %>"
                          data-tweet-id="<%= tweet._id %>" style="color: <%= isLiked ? 'red' : 'black' %>;">
                        </i>
                        <span class="like-count ms-2" style="font-size: 18px">
                          <%= tweet.likeCount %>
                        </span>
                    </button>
                  </div>
                  <div class="postButtonContainer">
                    <button>
                      <i class="fa-solid fa-retweet"></i>
                      <span class="mb-0 ms-2" style="font-size: 18px">0</span>
                    </button>
                  </div>
                </div>
                <div class="comment-section mt-3 mb-2">
                  <form action="/twitter-clone/home/comment/<%= tweet._id %>" method="post">
                    <div class="input-handle" style="display: flex;">
                      <input type="text" class="form-control" name="commentMsg" placeholder="Add Comment Here...">
                      <button type="submit" class="addCommentBtn border">
                        <i class="fa-solid fa-paper-plane"></i>
                      </button>
                    </div>
                  </form>
                </div>
                <% if(tweet.comments) { %>
                  <h4 class="mb-3" style="color: #50b7f5;">Comments :</h4>
                  <% tweet.comments.forEach(comment=> { %>
                    <div class="comment-list mb-4">
                      <div class="comment__avatar">
                        <img src="../../images/default-user.jpg" alt="User Avatar" />
                      </div>
                      <div class="comment__body">
                        <div class="comment__header">
                          <strong>@<%= comment.userId.username %></strong>
                          <time class="comment__time" datetime="<%= comment.createdAt %>"></time>
                        </div>
                        <div class="comment__text" style="display: flex; justify-content: space-between;">
                          <%= comment.commentMsg %>
                            <a href="/twitter-clone/home/deleteComment/<%= tweet._id %>/<%= comment._id %>/" class="deletePostBtn me-3">
                              <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                <% }else { %>
                <h6>No comment added.</h6>
                <% } %>
              </div>
            </div>
            <% }) %>
              <!-- post ends -->
        </div>
        <!-- feed ends -->

        <!-- widgets starts -->
        <div class="widgets">
          <div class="widgets__input">
            <span class="material-icons widgets__searchIcon"> search </span>
            <input type="text" placeholder="Search Twitter" />
          </div>

          <div class="widgets__widgetContainer">
            <h2>What's happening?</h2>
            <blockquote class="twitter-tweet">
              <p lang="en" dir="ltr">
                Sunsets don&#39;t get much better than this one over
                <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
                <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a>
                <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a>
                <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a>
              </p>
              &mdash; US Department of the Interior (@Interior)
              <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
        <!-- widgets ends -->
      </div>
</body>


<!-- Timeago -->
<script src="https://unpkg.com/timeago.js/dist/timeago.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    timeago.render(document.querySelectorAll('.time-ago'));
    timeago.render(document.querySelectorAll('.comment__time'));
  });
</script>


<!-- Jquery cdn -->
<script src="../../js/jquery.min.js"></script>

<!-- Socket IO -->
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
  integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    $('.sidebar__tweet').click(function () {
      $('.tweetBox__tweetButton').click();
    });
  });

  $(document).ready(function () {

    const socket = io({
      transports: ['websocket'],
      reconnection: true,
      reconnectionAttempts: 5,
      reconnectionDelay: 1000
    });

    socket.on('newTweet', (tweet) => {

    });

    socket.on('likeUpdate', function (data) {
      const { tweetId, likeCount } = data;

      const icon = $(`.heartIcon[data-tweet-id="${tweetId}"]`);
      const button = icon.closest('.likeButton');
      const countSpan = button.find('.like-count');

      if (countSpan.length) {
        countSpan.text(likeCount);
      }
    });

    $('.likeButton').click(function () {

      const button = $(this);
      const icon = button.find('.heartIcon');
      const countSpan = button.find('.like-count');
      const isLiked = icon.hasClass('fa-solid');
      const tweetId = icon.data('tweet-id');

      const currentCount = parseInt(countSpan.text(), 10) || 0;
      const newCount = isLiked ? Math.max(0, currentCount - 1) : currentCount + 1;
      countSpan.text(newCount);
      icon.toggleClass('fa-solid fa-regular liked');
      icon.css('color', isLiked ? 'black' : 'red');

      fetch('/twitter-clone/home/likes', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ tweetId, action: isLiked ? 'dislike' : 'like' })
      })
        .then(res => res.json())
        .then(data => {
          if (!data.success) {
            console.error('Like update failed on server.');
          }
        })
        .catch(err => {
          console.error('Error updating like:', err);
        });
    });
  });
</script>

<!-- Image Show Script -->
<script>
  document
    .getElementById("file-input")
    .addEventListener("change", function (event) {
      const file = event.target.files[0];
      if (file) {
        const imgPreview = document.getElementById("preview-image");
        imgPreview.src = URL.createObjectURL(file);
      }
    });
</script>

<!-- Toast Script -->
<script>
  const loginSuc = <% - JSON.stringify(loginSuc || null) %>;
  const loginSucIcon = <% - JSON.stringify(loginSucIcon || null) %>;
  const loginSucMsg = <% - JSON.stringify(loginSucMsg || null) %>;

  const addTweetSuc = <% - JSON.stringify(addTweetSuc || null) %>;
  const addTweetIcon = <% - JSON.stringify(addTweetIcon || null) %>;
  const addTweetSucMsg = <% - JSON.stringify(addTweetSucMsg || null) %>;

  const showToast = (loginSuc && loginSucMsg) || (addTweetSuc && addTweetSucMsg);

  if (showToast) {
    const toastContainer = document.getElementById('toast-container');
    const toast = document.querySelector('.toast');
    toastContainer.style.display = 'block';

    setTimeout(() => {
      toast.classList.remove('toast-animation-4-in');
      toast.classList.add('toast-animation-4-out');
      setTimeout(() => toast.remove(), 1000);
    }, 4000);

    document.querySelector('.toast-close').addEventListener('click', () => {
      toast.remove();
    });
  }
</script>



</html>